<%- include('header') -%>
    <!-- page title -->
    <div class="box" id="heading">
        <h1><%= listTitle %> list</h1>
    </div>
    <div class="box" id="heading">
        <h2><%= date %></h2>
    </div>
    <!-- List -->
    <div class="box">
        <!-- list items -->
        <% items.forEach((item)=>{ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= item.name %> </p>
                <!-- delete list item -->
                <form action="/delete" method="post">
                    <button class="rmvBtn" type="submit" name="id" value=<%= item.id %>>-</button>
                </form>
            </div>
        <% }) %>
        <!-- add new list item -->
        <form action='/' method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
            <button type="submit">+</button>
        </form>
    </div>
    <!-- lists navigation button -->
    <form action="/nav" method="post" id="newForm">
        <input type="text" id="newInp" placeholder="New/Existing List" name="newList" required>
        <button id="newBtn" type="submit"">Navigate Lists</button>
    </form>


    <script>
        let input = document.getElementById('newInp')
        let form = document.getElementById('newForm')
        input.addEventListener('focus', ()=>{
            form.classList.add('hover')
        })
        input.addEventListener('focusout', ()=>{
            form.classList.remove('hover')
        })
    </script>

<%- include('footer') -%>